@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-secondary: #d97706;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased;
  }
}